# Dictionaries

1. Introduction to Dictionaries
2. Creating Dictionaries
3. Accessing Dictionary Elements
4. Modifying Dictionary Elements
5. Dictionary Methods
6. Iterating Over Dictionaries
7. Nested Dictionaries
8. Dictionary Comprehensions
9. Practical Examples and Common Errors

In [1]:
## Introduction to Dictionaries

#### Dictionaries are unordered collections of items. They store data in key-value pairs. keys must be unqiue and immutable
# (eg., string, numbers, or tuples), while values can be of any type

In [2]:
## Creating Diictionaries
empty_dict = {}
print(empty_dict)
print(type(empty_dict))


x = dict()
print(x)
print(type(x))

student = {"name":"Sagar", "age":20, "grade":4}
print(student)

{}
<class 'dict'>
{}
<class 'dict'>
{'name': 'Sagar', 'age': 20, 'grade': 4}

In [3]:
# Error
student = {"name":"Sagar", "age":20, "grade":4}
print(student) # No Error, but printed something which is different, The value get replaced with the most recent value for the key

{'name': 'Sagar', 'age': 20, 'grade': 4}

In [4]:
#### Accessing dictionary elements

student = {"name":"Sagar", "age":20, "grade":4}
student

{'name': 'Sagar', 'age': 20, 'grade': 4}

In [5]:
print(student["name"])
print(student["grade"])
print(student["age"])

Sagar
4
20

In [6]:
#get()
print(student.get("name"))
print(student.get("grade"))
print(student.get("age"))
print(student.get("lastName")) #None

Sagar
4
20
None

In [7]:
# if none then default value
print(student.get("lastName", "Not Applicable"))

Not Applicable

In [8]:
#### Modifying Dictionary Elements
## Dictionary are mutable, so you can add, update or delete elements
print(student)

{'name': 'Sagar', 'age': 20, 'grade': 4}

In [ ]:
student["age"] = 26
print(student)
student["address"] = "India" ##Added a new key and value
print(student)

{'name': 'Sagar', 'age': 26, 'grade': 4}
{'name': 'Sagar', 'age': 26, 'grade': 4, 'address': 'India'}

In [ ]:
del student["grade"] ##Delete a dictionary value

print(student)

{'name': 'Sagar', 'age': 26, 'address': 'India'}

In [13]:
#### Dictionary Methods

keys = student.keys()
print(keys)

values = student.values()
print(values)

items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Sagar', 26, 'India'])
dict_items([('name', 'Sagar'), ('age', 26), ('address', 'India')])

In [16]:
#### Shallow copy
student_copy = student
print(id(student))
print(id(student_copy))

student_copy["name"] = "Yash"

print(student)
print(student_copy)

4418833216
4418833216
{'name': 'Yash', 'age': 26, 'address': 'India'}
{'name': 'Yash', 'age': 26, 'address': 'India'}

In [18]:
student_copy = student.copy()

print(id(student))
print(id(student_copy))

student_copy["name"] = "Sagar"

print(student)
print(student_copy)

4418833216
4419357952
{'name': 'Yash', 'age': 26, 'address': 'India'}
{'name': 'Sagar', 'age': 26, 'address': 'India'}

In [19]:
#### Iterating Over Dictionaries
## You can use loops to iterate over dictionaries, keys, values or items

for key in student.keys():
    print(key)

name
age
address

In [20]:
## iterate over values

for value in student.values():
    print(value)

Yash
26
India

In [22]:
## iterate over key, value pair

for key, value in student.items():
    print(key, ": ", value)

for key, value in student:
    print(key, ": ", value)

name :  Yash
age :  26
address :  India

ValueError: too many values to unpack (expected 2)

In [23]:
## Nested Dictionaries

students = {
    "student1": {"name":"Sagar", "age":20},
    "student2": {"name":"Yash", "age":22},
    "student3": {"name":"MrUnordinary", "age":26},
}

print(students)

{'student1': {'name': 'Sagar', 'age': 20}, 'student2': {'name': 'Yash', 'age': 22}, 'student3': {'name': 'MrUnordinary', 'age': 26}}

In [24]:
## Access Nested Dictionary elements

students["student2"]["age"]

22

In [25]:
students.get('student2').get('age')

22

In [27]:
students["student2"]["age"] = 31

print(students)

{'student1': {'name': 'Sagar', 'age': 20}, 'student2': {'name': 'Yash', 'age': 31}, 'student3': {'name': 'MrUnordinary', 'age': 26}}

In [29]:
## Iterating over Nested Dictionary

for student_id, student_info in students.items():
    print(student_id, ": ", student_info)
    for key, value in student_info.items():
        print(key, ": ", value)

student1 :  {'name': 'Sagar', 'age': 20}
name :  Sagar
age :  20
student2 :  {'name': 'Yash', 'age': 31}
name :  Yash
age :  31
student3 :  {'name': 'MrUnordinary', 'age': 26}
name :  MrUnordinary
age :  26

In [30]:
#### Dictionary Comphrehension

squares = {x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [33]:
evens = {x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [34]:
numbers = [1,2,2,3,3,3,4,4,4]

frequency = {x: numbers.count(x) for x in numbers}

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 3}

In [35]:
### Merge a Dictionary

dict1 = {"a":1, "b":2}
dict2 = {"b":3, "c":4}

dict3 = {**dict1, **dict2}

print(dict3)

{'a': 1, 'b': 3, 'c': 4}